<article [ngClass]="{ card: true, focus: inFocus }">
  <div class="container">
    <div class="container">
      <span
        *ngFor="let type of listOfPokemonTypes"
        [ngStyle]="{ 'background-color': 'var(--' + type + ')' }"
        class="info_type"
        >{{ type | titlecase }}</span
      >
    </div>
    <span class="number">{{ formattedPosNumber() }}</span>
  </div>
  <div class="container">
    <div class="content">
      <h2>{{ namePokemon }}</h2>
      <p>
        {{ description }}
      </p>
      <button (click)="redirectToDatails()">Know More</button>
    </div>
    <img
      class="img"
      [src]="imageURL"
      alt="Imagem do Pokémon."
      width="150"
      height="150"
    />
  </div>
</article>
